<section >
        <nav style="z-index: 999 !important;">
            <div class="nav-link">
                <ul>
                    <li routerLink="">Home</li>
                    <li routerLink="about">About</li>
                    <li routerLink="contact">Contact</li>
                    <li routerLink="support">Support</li>
                    <li routerLink="services">Services</li>
                </ul>

            </div>
            <div class="lr-page" style="margin-left: auto;">
                <ul style="display: flex;list-style: none;">
                    <li routerLink="login">Login</li>
                </ul>
            </div>
        </nav>
</section>