<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero in justo efficitur, et malesuada ipsum mattis.</p>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <address>
            <p><strong>Address:</strong> Humayun nagar Hyderabad 500008</p>
            <p><strong>Email:</strong> <a href="mailto:contact@example.com">danishjamil.biz@gmail.com</a></p>
            <p><strong>Phone:</strong> +1 (123) 456-7890</p>
          </address>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>